.map-price-container {
  overflow: visible !important;
}

.map-price-marker {
  position: absolute;
  font-family: 'Helvetica';
  left: -37px;
  top: -25px;
  width: 70px;
  height: 20px;
  border-radius: 3px;
  line-height: 22px;
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  color: black;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid gray;
  z-index: 1;
}
.map-price-marker:before,
.map-price-marker:after {
  position: absolute;
  content: "";
  border-style: solid;
}

.map-price-marker:after {
  left: 31px;
  top: 19px;
  border-width: 5px;
  border-color: white transparent transparent;
}

.map-price-marker:before {
  left: 30px;
  top: 20px;
  border-width: 6px;
  border-color: gray transparent transparent;
}

.map-price-marker.visited:hover {
  background-color: #7b8d93;
  color: #fff;
  border-color: #5b6a6f;
}

.map-price-marker.visited:hover:after {
  border-color: #7b8d93 transparent transparent;
}

.map-price-marker.visited:hover:before {
  border-color: #5b6a6f transparent transparent;
}

.map-price-marker:hover {
  background-color: #f2f2f2;
  color: black;
  border-color: gray;
  z-index: 3;
}

.map-price-marker:hover:after {
  border-color: #f2f2f2 transparent transparent;
}

.map-price-marker:hover:before {
  border-color: gray transparent transparent;
}
.div.gm-style-iw-d{
    max-width: 200px !important;
    max-height: 200px !important;
}
.info-window-map{
    max-width: 200px !important;
    max-height: 200px !important;
}
.gm-style-iw, .gm-style-iw>div,.gm-style-iw>div>div {
      width:200px !important;
      max-height: 200px !important;
      max-width:100% !important;
      padding-left: 0px;
  }
.carousel-item{
  max-height: 200px !important;
}
.gm-style .gm-style-iw-c {

  padding: 0px;
}
.location-search-input{
      background: #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 14px;
    width: 280px;
    height: 50px;
    text-align: center;
    color: #808182;
}

/**
 * SearchBoxMap
 */
.autocomplete-style{
  background: url(https://placehold.it/10x10) no-repeat scroll 7px 7px;
  padding-left:30px;
  border:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;


  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;/* identical to box height, or 129% */
  color: #808182;

  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 4px;


}
