.custom-select-many-rooms{
    border: 1px solid #d8d8d8 !important;
}
.custom-select-many-halls{
    border: 1px solid #d8d8d8 !important;
}
.room-distribution-label{
    margin-bottom:10px;
}
.AddHallsBathsRow{
	margin-top: 10px !important;
}