.NewButton {
  color: white;
  /* font-family: Montserrat-medium; */
  font-family: Montserrat;
  font-weight: 500;
  background-color: #54cf6f;
  border-color: transparent;
  border-radius: 5px;
  height: 36px;
  padding-right: 20px;
  padding-left: 20px;
}

.NewButton:hover {
  cursor: pointer;
  background-color: #40afac;
  border-color: transparent;
}

.NewButton:active {
  cursor: pointer;
  background-color: #7de0dd;
  border-color: transparent;
}

.NewButton:active,
.NewButton:focus,
.NewButton:active:focus,
.NewButton:hover:focus,
.NewButton:hover:active {
  outline: 0px solid transparent;
  box-shadow: 0px 0px solid transparent;
}

.NewButton:disabled {
  cursor: not-allowed !important;
}
