.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.event-wrapper{
  
  display: inline-flex;
  padding-left: 0;
  padding-right: 0;
}

.event_wrapper .col-md-6{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.add_button {
    cursor: pointer;
    margin-bottom: 24px;
    margin-left: 16px;
}

.add_button_btn {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    border-radius: 2em;
    background-color: white;
    border: 1.5px solid #b8b8b8;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 6px;
    float: left;
    margin-right: 10px;
    padding-top: 1px;
}

.add_button_content {
    margin-top: -6px;
    font-weight: bold;
    color: #b8b8b8;
}


.service_delete_button_container{
  margin-left: -16px;
  margin-top: 12px;
}