.MainMenuViewContainer {
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	margin-left: -2vw;
	margin-right: -2vw;
	overflow-y: scroll;
 	max-height: calc(100vh - 80px);
}

.MainMenuTitle {
	width: calc(100vw - 300px);
	max-width: calc(100vw - 300px);
}

.MainMenuViewLinkContainer {
	width: calc(100vw - 300px);
	max-width: calc(100vw - 300px);
	display: flex;
	justify-content: inline;
	overflow-x: hidden;
	overflow-y: scroll;
	flex-wrap: wrap;
}